<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">

<div class="page-content-wrapper page-container-bg-solid">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="height:1024px;" >
          <div class="portlet-body">
            <!-- END THEME PANEL -->
            <!-- <h1 class="page-title"> Brand
                <small>Overview</small>
            </h1> -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                         <span>Home</span>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <!-- <li>
                    <!-- <i class="icon-bar-chart"></i> --
                     <a href="/master-color">Master</a>
                     <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <!-- <i class="icon-bar-chart"></i> --
                       <a href="/master-color">Colours Master </a>
                      </li> -->
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
              <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light portlet-fit ">
                  <!-- <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-settings font-red"></i>
                          <span class="caption-subject font-red sbold uppercase">Brand</span>
                      </div>
      
                  </div> -->
                  <div class="portlet-body">
                          <div class="table-toolbar">
                         
                          <div class="col-md-12">
                                <div class="col-md-3">
                                        <div class="btn-group">
                                            <button id="" (click)="back()" class="btn green">Back
                                                <i class="fa fa-arrow-left"></i>
                                            </button>
                                        </div>
                                    </div>
                                  <!-- <a href="http://34.218.151.6:9000/api/export/invoice?user="+id;> -->
                                    <input type="button" class="btn green" value="Download" style="float: right;" (click) = "downloadExcel()"/>
                                <!-- </a> -->
                               
                              
                          <div class="portlet-body table-scroll">
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                      <thead>
                                          <tr>
                                              <th> ID </th>
                                              <th> Invoice No. </th>
                                              <th> Dealer Code </th>
                                              <th> Customer Name </th>
                                              
                                              <!-- <th> QTY</th>
                                              <th> Price/unit</th>
                                              <th> Category</th>
                                              <th> Brand</th>
                                              <th> Date </th> -->
                                              <th> Customer Mobile No </th>
                                              <th> Date </th>
                                              <th> Purchase Details </th>
                                              <!-- <th> Audit Status </th>
                                              <th> Wknd Date </th>
                                              <th> Remark</th>
                                              <th> Category</th>
                                              <th> Mfr</th>
                                              <th> Product Code</th>
                                              <th> Product Desc</th>
                                              <th> Sub Cat</th>
                                              <th> Segment</th>
                                              <th> Sub Segment</th>
                                              <th> QTY</th>
                                              <th> Amount</th> -->
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let ShopReportDataPurchase of ShopReportData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: ShopReportDataCount }  let i = index" [attr.data-index]="i" >
                                           
                                              <td> {{ShopReportDataPurchase.id}} </td>
                                              <td> INV-{{ShopReportDataPurchase.invoice_no}}</td>
                                              <td> {{ShopReportDataPurchase.code}} </td>
                                              <!-- <td> {{getproduct(ShopReportDataPurchase.product)}} 2W-100/80 UNK17-TL-PILOT SPORTY-52S</td> -->
                                              <td> {{ShopReportDataPurchase.customer_name}} </td>
                                              <td> {{ShopReportDataPurchase.customer_mobile_no}} </td>
                                         
                                              <!-- <td> {{ShopReportDataPurchase.quantity}} </td>
                                              <td> {{ShopReportDataPurchase.price}} </td> -->
                                              <!-- <td> {{getcategoryName(ShopReportDataPurchase.category)}} Tyre</td> -->
                                              <!-- <td> {{ShopReportDataPurchase.catname}} </td>
                                              <!-- <td> {{getbrandName(ShopReportDataPurchase.brand)}} MRF</td> --
                                              <td> {{ShopReportDataPurchase.brandname}} </td> -->
                                              <td> {{ShopReportDataPurchase.createdAt | date}} </td>
                                              <td><input type="button" (click)="viewreportdetails(ShopReportDataPurchase.id)" class="btn green" value="PurchaseDetails"/></td>
                                              
                                          </tr>
                                      
                                      </tbody>
                                  </table>
                                  <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                              </div>
                          </div>
          
      </div>
            
                  <!-- END EXAMPLE TABLE PORTLET-->
              </div>
          </div>
            <!-- END PAGE CONTENT-->
            </div>
      </div>
      </div>
      </div>
      