.page-header.navbar .page-logo .logo-default {
   
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: -15px;

}
.page-header.navbar .page-logo {
    background: white;
    width: 187px;
}
.padd-top{    padding-top: 28px;}

.page-header.navbar .menu-toggler.sidebar-toggler{
    margin: 22px 0 0 148px;
    float:  none;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo {
    float: right;
    margin: 23px 0 0;
}
