<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">
<div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                        <a [routerLink]="['dashboard']">
                        <!-- <h4  class="logo-default" style="text-align: center;font-style: italic;font-family: serif;">Market Xcel</h4> -->
                        <img src="../assets/images/logo.png" alt="logo" class="logo-default" width="100"/>
						</a> 
                    <div class="menu-toggler sidebar-toggler">
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->
                <div class="page-actions">
                    <div class="btn-group">
                    </div>
                </div>
                
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    
                                <!-- <a href="javascript:;">
                                    <!-- <h4  class="logo-default" style="color: red;text-align: center;">Customer Survey</h4> --
                                    <img src="../assets/layouts/layout2/img/tata.jpg" alt="logo" class="logo-default" width="164"/>
                                    </a>  -->
                         
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                    <h5 class="padd-top" id="todayDate">Date: {{todayFullDate | date:'fullDate'}}</h5>
                            </li>
                            <li class="dropdown dropdown-user">
                                
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <!-- <img *ngIf="image" alt="" class="img-circle" src="../assets/layouts/layout2/img/user_icon.jpg" /> -->
                                    <!-- <img alt="image" class="img-circle" src= {{image}} /> -->
                                    <span class="username username-hide-on-mobile"> {{userName}} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <!-- <li>
                                        <a href="#">
                                            <i class="icon-user"></i> My Profile </a>
                                    </li> -->
                                    <li>
										<a [routerLink]="['login-form']">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>