 <div class="page-footer">
            <div> <div class="col-lg-4 page-footer-inner">2018 &copy; Market-Xcel</div><div class="col-lg-8 page-footer-inner text-right">Design & Developed by <a href="http://www.mobicloudtechnologies.com" target="_blank" style="color: white"> Mobicloud Technologies Pvt. Ltd.</a></div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
            <!-- BEGIN QUICK NAV -->
            <nav class="quick-nav">
            </nav>
            <div class="quick-nav-overlay"></div>
           