     <!-- BEGIN CONTENT -->
     <div class="page-content-wrapper page-container-bg-solid">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content" style="height:1024px;">
         <div class="portlet-body">
          <!-- END THEME PANEL -->
          <h1 class="page-title"> Colours
              <small>Overview</small>
          </h1>
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <i class="icon-home"></i>
                       <span>Home</span>
                      <i class="fa fa-angle-right"></i>
                  </li>
                  <li>
                  <!-- <i class="icon-bar-chart"></i> -->
                   <a href="/master-color">Master</a>
                   <i class="fa fa-angle-right"></i>
                  </li>
                  <li>
                    <!-- <i class="icon-bar-chart"></i> -->
                     <a href="/master-color">Colours Master </a>
                    </li>
              </ul>
          </div>
          <!-- END PAGE HEADER-->
          <!-- BEGIN PAGE CONTENT-->
          <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-red"></i>
                        <span class="caption-subject font-red sbold uppercase">Colours Master Table</span>
                    </div>

                </div>
                <div class="portlet-body">
                        <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="sample_editable_1_new" (click)="ShowColourTable()" class="btn green"> Add New Colour
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn-group pull-right">
                                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;"> Print </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Save as PDF </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"> Export to Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <div [ngSwitch]="viewColours">
                        <div *ngSwitchCase="'addColours'">
                              
 <form (submit)="addColour($event)">
                                <table class="table table-hover table-bordered" id="">
                                       
                                        <thead>
                                            <tr>
                                                <th> Colour Name </th>
                                                <th> Colour Code </th>
                                                <th> Reset </th>
                                                <th> Add </th>
                                            </tr>
                                        </thead> 
                                        <tbody>  
                                           
                                            <tr>
                                                <td> <input type="text" ([ngModule])="newColourName"/> </td>
                                                <td> <input type="text" ([ngModule])="newColourcode"/> </td>
                                                <td>
                                                    <input type="reset" (click)="resetColourName(newColourName)" class="btn green" value="Reset" />
                                                </td>
                                                <td>
                                                        <input type="submit" class="btn green" value="Add" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                        </div>
                        <div *ngSwitchCase="'editColours'">
                                <form id="updateColourform" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateColour(beforeUpdateColourObj.colourId, beforeUpdateColourObj.colourname,beforeUpdateColourObj.colourcode, beforeUpdateColourObj.isactive)">
                                      </form>
                                      <table class="table table-striped table-hover table-bordered order-column" id="">
                                            <thead>
                                                    <tr>
                                                        <th> ID </th>
                                                        <th> Colour Name </th>
                                                        <th> Colour Code </th>
                                                        <th> Is Active </th>
                                                        <th> Edit </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                            <tr>
                                                <td>
                                                        <label>{{beforeUpdateColourObj.colourId}}</label><input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateColourObj.colourId" ngModel><br>    
                                                </td>
                                                <td>
                                                        <input type = "text" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateColourObj.colourname" ngModel><br>
                                                </td>
                                                <td>
                                                    <input type = "text" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateColourObj.colourcode" ngModel><br>
                                            </td>
                                                <td>
                                                        <div class="md-checkbox">
                                                                <input type="checkbox" [(ngModel)]="beforeUpdateColourObj.isactive" [checked]="beforeUpdateColourObj.isactive" id="beforeUpdateColourObj{{beforeUpdateColourObj.colourId}}" class="md-check" [(ngModel)]="beforeUpdateColourObj.isactive" value="{{beforeUpdateColourObj.isactive}}" (change)="onIsActiveChange(mastercolours.master_colour_id, mastercolours.is_active)"/>
                                                                <label for="beforeUpdateColourObj{{beforeUpdateColourObj.colourId}}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    <span *ngIf="beforeUpdateColourObj.isactive == true;then Active else InActive"></span>
                                                                    <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                                </label>
                                                            </div>
                                                </td>
                                                <td>  <input type="submit" value = "Update Colour" class="btn green" form="updateColourform"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                        </div>
                        <div *ngSwitchDefault></div>
                        <div class="col-md-12">
                                <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                             
                            </div>
                        <div class="portlet-body table-scroll">
                                <table class="table table-striped table-hover table-bordered order-column" id="">
                                    <thead>
                                        <tr>
                                            <th> ID </th>
                                            <th> Colours Name </th>
                                            <th> Colours Code </th>
                                            <th> Is Active </th>
                                            <th> Edit </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let mastercolours of masterColoursobj; let i = index" [attr.data-index]="i">
                                            <td>  {{mastercolours.master_colour_id}} </td>
                                            <td> {{mastercolours.master_colour_name}} </td>
                                            <td> {{mastercolours.master_colour_code}} </td>
                                            <td>
                                                <div class="md-checkbox">
                                                    <input type="checkbox" [(ngModel)]="mastercolours.is_active" id="colourMasterIsActiveId{{mastercolours.master_colour_id}}" class="md-check" (change)="onIsActiveChange(mastercolours.master_colour_id, mastercolours.is_active)"/>
                                                    <label for="colourMasterIsActiveId{{mastercolours.master_colour_id}}">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        <span *ngIf="mastercolours.is_active == true;then Active else InActive"></span>
                                                        <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                              </label>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="button" (click)="editColour(mastercolours.master_colour_id, mastercolours.is_active, mastercolours.master_colour_name)" class="btn green" value="Edit" />
                                            </td>
                                            <!-- <td>
                                                <input type="button" (click)="deleteColour(mastercolours.master_colour_id)" value="Delete" />
                                            </td> -->
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
        </div>
    </div>
          
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
          <!-- END PAGE CONTENT-->
          </div>
            <!-- END portlet-body BODY -->
      </div>
      <!-- END CONTENT BODY -->
<!-- </div> -->
  <!-- END CONTENT -->
 
  </div>