body {
    background-color: #ffffff;
}
:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
}

div.input label{
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input, div.input select  {
    padding: 10px 20px;
    font-size: 18px;
	outline: 0;
	width: 85%;
}

div.input {
	padding: 10px;
	margin-left: 80px;
	margin-top: 15px;
}

@media (min-width: 1440px){
	.page-content-wrapper .page-content{
		margin-left: 0px;
		min-height: 770px;
	}
}

@media (min-width: 1800px){
.page-content-wrapper .page-content{
	margin-left: 0px;
	min-height: 1020px;
}
}


.input-class{
	border: 1px solid #ccc;
}
.portlet-body{margin-top: 10%;}
.logo{
width: 83px;
height: auto;
margin-top: 5px;
border-radius: 50%!important;
border: 2px solid red;
padding: 1px;
margin-left: 38px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

form {
	border: 3px solid black;
	width: auto;
}