      <div class="page-content-wrapper">
          <!-- BEGIN CONTENT BODY -->
          <div class="page-content">
             <div class="portlet-body">
<div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-md-4 col-sm-4"></div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <div class="row">
    <div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-6">
            <!-- <h3 style="text-align: center;">Market Xcel</h3> -->
            <!-- <img src="../assets/layouts/layout2/img/jdpower.jpg" alt="logo" class="logo" width="200"/> -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
      </div>
  </div>
<form (submit)="loginUser($event)">
    <div class="imgcontainer">
        <img src="../assets/images/logo.png" alt="Avatar" class="avatar">
      </div>
    <div class="input">
      <!-- <label>Username</label> -->
      <input type="text" class="input-class" placeholder="Username">
    </div>
    <div class="input">
        <!-- <label>Password</label> -->
        <input type="password" class="input-class" placeholder="Password">
      </div>
    <div class="input">
      <input type="submit" value="Login" class="btn btn-success" style="background-color: #808285;">
    </div>
    <!-- <div class="input">
        <input type="button" value="redirect" class="btn btn-default" (click)="redirect()" >
      </div> -->
  </form>
</div>
<div class="col-lg-4 col-md-4 col-sm-4"></div>

</div>
</div>
</div>
</div>
