<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">
<div class="page-content-wrapper page-container-bg-solid">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content" style="height:1024px;">
    <div class="portlet-body">
      <!-- END THEME PANEL -->
      <!-- <h1 class="page-title"> Categories
          <small>Overview</small>
      </h1> -->
      <!-- <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <i class="icon-home"></i>
                   <span>Home</span>
                  <i class="fa fa-angle-right"></i>
              </li>
              <!-- <li>
              <!-- <i class="icon-bar-chart"></i> --
               <a href="/master-color">Master</a>
               <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <!-- <i class="icon-bar-chart"></i> --
                 <a href="/master-color">Colours Master </a>
                </li> --
          </ul>
      </div> -->
      <!-- END PAGE HEADER-->
      <!-- BEGIN PAGE CONTENT-->
      <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Categories</span>
                </div>

            </div>
            <div class="portlet-body">
                    <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button type="button" id="sample_editable_1_new" (click)="ShowCatTable()" class="btn green"> Add New Category
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- <div class="btn-group pull-right">
                                        <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;"> Print </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> Save as PDF </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;"> Export to Excel </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <modal #myModal>
                                <modal-header>
                                        <h4>Add Category</h4>
                                </modal-header>
                                <modal-content>
                                        <div class="modal-body">
                                                <form>
                                             <div class="form-group"> <label for="exampleInputEmail1">Name:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                             <div class="form-group"> <label for="exampleInputEmail1">Description:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                             <div class="form-group"> <label for="exampleInputEmail1">Choose Photo:</label> <input type="file" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                             <button type="submit" class="btn btn-primary">Submit</button>
                                             </form>
                                              </div> 
                                </modal-content>
                                <modal-footer>
                                    <button class="btn btn-primary" (click)="myModal.close()">close</button>
                                </modal-footer>
                            </modal> -->
                       
                <div [ngSwitch]="viewCat">
                        <div *ngSwitchCase="'addCat'">
                              
                                <form (submit)="addCat($event)">
                                      <table class="table table-hover table-bordered" id="">
                                              <thead>
                                                  <tr>
                                                      <th> Category Name </th>
                                                      <th> Description </th>
                                                      <th> Reset </th>
                                                      <th> Add </th>
                                                  </tr>
                                              </thead> 
                                              <tbody>  
                                                 
                                                  <tr>
                                                      <td> <input type="text" ([ngModule])="newProblemCatName" class="form-control"/> </td>
                                                      <td> <input type="text" ([ngModule])="newProblemCatDescription" class="form-control"/> </td>
                                                      
                                                      <td>
                                                          <input type="reset"  class="btn green" value="Reset" />
                                                      </td>
                                                      <td>
                                                              <input type="submit" class="btn green" value="Add" />
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </form>
                              </div>
                    <!-- <div *ngSwitchCase="'addCategory'"> -->
                    <div *ngSwitchCase="'editCat'">
                            <form id="updateCatform" name = "formNewCat" #CatData = "ngForm" (ngSubmit) = "updateCat(beforeUpdateCatObj)">
                                  </form>
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                        <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> Category Name </th>
                                                    <th> Description </th>
                                                    <th> Is Active </th>
                                                    <th> Edit </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <tr>
                                            <td>
                                                   <label>{{beforeUpdateCatObj.id}}</label><input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateCatObj.id" ngModel><br>    
                                            </td>
                                            <td>
                                                    <input type = "text" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateCatObj.name" ngModel><br>
                                            </td>
                                            <td>
                                                <input type = "text" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateCatObj.description" ngModel><br>
                                        </td>
                                            <td>
                                                    <div class="md-checkbox">
                                                            <input type="checkbox" [(ngModel)]="beforeUpdateCatObj.is_active" [checked]="beforeUpdateCatObj.is_active" id="beforeUpdateCatObj{{beforeUpdateCatObj.id}}" class="md-check" [(ngModel)]="beforeUpdateCatObj.is_active" value="{{beforeUpdateCatObj.is_active}}" (change)="onIsActiveChange(beforeUpdateCatObj.id, beforeUpdateCatObj.is_active)"/>
                                                            <label for="beforeUpdateCatObj{{beforeUpdateCatObj.id}}">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                <span *ngIf="beforeUpdateCatObj.is_active == true;then Active else InActive"></span>
                                                                <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                            </label>
                                                        </div>
                                            </td>
                                            <td>  <input type="button" value = "Update" class="btn green" (click)="updateCat(beforeUpdateCatObj)" form="updatecatform"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                    </div>
                    <div *ngSwitchDefault></div>
                    <div class="col-md-12">
                            <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                            <!-- <form #myForm="ngForm" novalidate (ngSubmit)="filterdata(myForm)">

                                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;"> 
                                    <button type="submit" class="btn btn-success btn-custom">Filter</button></form> -->
                                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;float: right;" (input)="onSearchChange($event.target.value)"> 
                        </div>
                    <div class="portlet-body table-scroll">
                            
                            <table class="table table-striped table-hover table-bordered order-column" id="">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Category Name </th>
                                        <th> Description </th>
                                        <th> Is Active </th>
                                        <th> Edit/Delete </th>
                                        <th> View Brands</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let categoryData of categoryData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: catDataCount }  let i = index" [attr.data-index]="i" >
                                        <td>{{categoryData.id}}</td>
                                        <td>{{categoryData.name}}</td>
                                        <td>{{categoryData.description}} </td>
                                        <td>
                                             <div class="md-checkbox">
                                                <input type="checkbox" [(ngModel)]="categoryData.is_active" id="CatIsActiveId{{categoryData.id}}" class="md-check" (change)="onIsActiveChange(categoryData.id, categoryData.is_active)"/>
                                                <label for="CatIsActiveId{{categoryData.id}}">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    <span *ngIf="categoryData.is_active == true;then Active else InActive"></span>
                                                    <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                          </label>
                                            </div> 
                                        </td>
                                        <td>
                                            <input type="button" (click)="editCat(categoryData)" class="btn green" value="Edit" />
                                            <input type="button" (click)="deleteCat(categoryData)" class="btn green" value="Delete" style="background-color: #e7505a;" />
                                        </td>
                                        <td>
                                            <input type="button" (click)="redirect(categoryData.id)" class="btn green" value="View Brands" />
                                        </td>
                                        <!-- <td>
                                            <input type="button" (click)="deleteColour(mastercolours.master_colour_id)" value="Delete" />
                                        </td> -->
                                    </tr>
                                
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                        </div>
                    </div>
    </div>
</div>
      
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
      <!-- END PAGE CONTENT-->
      </div>
</div>
</div>
