<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<link href="/assets/multiple-select.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/multiple-select.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">
<script>
      $(function() {
        $('#dropdemo').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%'
        });
    }); 
    
    </script>
     <!-- BEGIN CONTENT -->
     <div class="page-content-wrapper page-container-bg-solid" style="
     overflow: hidden;
 ">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="height:1024px;">
           <div class="portlet-body">
            <!-- END THEME PANEL -->
            <!-- <h1 class="page-title"> Vendor
                <small>Overview</small>
            </h1> -->
            <!-- <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                         <span>Home</span>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <!-- <li>
                    <!-- <i class="icon-bar-chart"></i> --
                     <a href="/users/Usersprofile">Users Profile</a>
                    </li> --
                </ul>
            </div> -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            
            <div class="portlet-body">
                <div class="col-md-12">
                    <div class="row dashboard-stat2">
  
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="" (click)="ShowUserTable()" class="btn green"> Add New Vendor
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6" style="
                                text-align: right;
                            ">
                                        <div class="btn-group">
                                                <form #ngForm="ngForm" (ngSubmit)="onSubmitfile($event)" id="userdata">
                                                        <input type="file" #fileupload [(ngModel)]="userdata" name="userdata" (change)="fileChangeimport($event)" style="display: inline;"/>
                                                        <input type="submit" class="btn green" value="Upload File" >
                                                </form>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 ">
                                    <form #myFormcount="ngForm" novalidate (ngSubmit)="filterDataCount(myFormcount)">
            
                                                  <div class="col-lg-2 col-md-2 col-sm-2">
                                                    <div class="form-group">
                                                                  <label for="name">State</label>
                                                                  <select class="form-control" name="Statecount" [(ngModel)]="Statecount" (change)="getCityData(Statecount)">
                                                                        <option [value]="null" selected>Select</option>
                                                                    <option *ngFor="let StateDataListt of StateDataList" [value]="StateDataListt">{{StateDataListt}}</option>
                                                                   
                                                                </select>
                                                    </div>
                                                  </div>
                    
                                                  <div class="col-lg-2 col-md-2 col-sm-2">
                                                    <div class="form-group">
                                                                  <label for="name">City</label>
                                                                  <select class="form-control" name="SelectedCityCount" [(ngModel)]="SelectedCityCount">
                                                                        <option [value]="null" selected>Select</option>
                                                                    <option *ngFor="let cityDataListt of cityDataList " [value]="cityDataListt.name">{{cityDataListt.name}}</option>
                                                                   
                                                                </select>
                                                    </div>
                                                  </div>
                                              
                                                              <div class="col-lg-2 col-md-2 col-sm-2">
                                                                <div class="form-group">
                                                                        <label for="name">Select Date</label>
                                                                <my-date-range-picker name="mydaterangecount" [options]="myDateRangePickerOptions" id="mydaterangecount" [(ngModel)]="mydaterangecount"></my-date-range-picker>
                                                                    </div>
                                                                  </div>

                                                                  <div class="col-lg-2 col-md-2 col-sm-2" style="
                                                                  padding-top: 20px;
                                                              ">
                                                                    <div class="form-group">
                                                                            <label for="name">Registered User</label>
                                                                            <input type="checkbox" [(ngModel)]="checkValueRegistered" name="checkValueRegistered" />
                                                                        </div>
                                                                      </div>
                                                              <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                                                                    <p></p>    
                                            <button type="submit" class="btn btn-success btn-custom">Filter</button>
                                               
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                                            <p></p>
                        <button type="reset" class="btn btn-danger btn-custom" (click)="onResetFiltercount()" >Reset</button></div>
                     
                                                    </form></div>
                                                  </div>
  
                        <div [ngSwitch]="viewUser">
                            <div *ngSwitchCase="'addUser'">
                              <form #myForm="ngForm" (ngSubmit)="addUser(myForm)">
                                    <table class="table table-hover table-bordered" id="">
                                            <thead>
                                                <tr>
                                                    <!-- <th>Vendor Id</th> -->
                                                    <th>Outlet Code</th>
                                                    <th>Is_Panel_Member</th>
                                                    <th>Email</th>
                                                    <th>Address</th>
                                                    <th>City</th>
                                                    <th>Mobile No</th>
                                                    <th>Shop Name</th>
                                                    <th>GST No</th>
                                                    <th style="width: 142px">Category</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Password</th>
                                                    <th>Confirm Password</th>
                                                    <th>Image</th>
                                                    <th>ShopImage</th>
                                                    <th>Add New Vendor</th>
                                                </tr>
                                            </thead> 
                                            <tbody>  
                                                <tr>
                                                    <!-- <td> <input type="text" ([ngModule])="newUserId" required class="form-control"/> </td> -->
                                                    <td> <input type="text" [(ngModel)]="newUserName" required class="form-control" name="username"/> </td>
                                                    <td><input type="checkbox" [(ngModel)]="checkValueMemberobject" name="checkValueMemberobject" (change)="checkValueMember(checkValueMemberobject?'1':'0')" /></td>
                                                    <td> <input type="email" [(ngModel)]="newUserEmail" required class="form-control" name="email"/> </td>
                                                    <td> <input type="text" [(ngModel)]="newUserAddress" required class="form-control" name="address"/> </td>
                                                    <td> <input type="text" [(ngModel)]="newUsercity" required class="form-control" name="city"/> </td>
                                                    <td> <input type="number" [(ngModel)]="newUserMob" required class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"maxlength = "10" name="Mobile"/> </td>
                                                    <td> <input type="text" [(ngModel)]="newUserShop" required class="form-control" name="shopname"/> </td>
                                                    <td> <input type="text" [(ngModel)]="newUserGST" required class="form-control" name="gstno"/> </td>
                                                    <td > 
                                                    <!-- <select id="dropdemo" multiple="multiple" class="form-control" required >
                                                        <option value="0">Select</option>
                                                    <option   *ngFor="let categoryData of allcategoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                    </select>  -->
                                                    <angular2-multiselect [data]="allcategoryData" [(ngModel)]="selectedItems.itemName" [settings]="dropdownSettingsCat"
                                                    (onSelect)="onItemSelectVersion($event)" (onDeSelect)="OnItemDeSelectVersion($event)"
                                                    (onSelectAll)="onSelectAllVersion($event)" (onDeSelectAll)="onDeSelectAllVersion($event)"
                                                    name="itemNamecat">
                                                    <c-item>
                                                        <ng-template let-item="item">
                                                            <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
                                                        </ng-template>
                                                    </c-item>
                                                </angular2-multiselect>
                                                                
                                                  </td>
                                                  <td> <input type="text" [(ngModel)]="newUserLat" required class="form-control" name="lat"/> </td>
                                                    <td> <input type="text" [(ngModel)]="newUserLong" required class="form-control" name="long"/> </td>
                                                  <td> <input type="password" [(ngModel)]="newUserpassword" class="form-control" name="password"/> </td>
                                                  <td> <input type="password" [(ngModel)]="newUserConfirmpassword" class="form-control" name="cpassword"/> </td>
                                                  <td> <input type="file" #fileupload [(ngModel)]="image" name="image" required class="form-control" (change)="onFileChange($event)" accept="image/*"/> </td>
                                                  <td> <input type="file" #fileupload [(ngModel)]="image" name="image" required class="form-control" (change)="onFileChange($event)" accept="image/*" multiple/> </td>
                                                   <td><input type="submit" class="btn green" value="Add" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                            </div>
                            <div *ngSwitchCase="'editUser'">
              <form id="updateUserProfileform" name ="formNewUser" #userData = "ngForm" (ngSubmit) ="updateUser(beforeUpdateUserObj)">
                                  </form>
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                        <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Outlet Code</th>
                                                    <th>UserName</th>
                                                    <th>Is_Panel_Member</th>
                                                    <th>Email</th>
                                                    <th>Address</th>
                                                    <th>city</th>
                                                    <th>Mobile No</th>
                                                    <th>Shop Name</th>
                                                    <th>GST No</th>
                                                    <!-- <th>Image</th> -->
                                                    <th>Category</th>
                                                    <!-- <th>Is Active</th> -->
                                                    <th>Update</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <tr>
                                          <td>
                                                <label>{{beforeUpdateUserObj.id}}</label><input type = "hidden" name="id" class="form-control" id="id" [(ngModel)] = "beforeUpdateUserObj.id" ngModel hidden><br>    
                                            </td>
                                            <td>
                                                <input type = "text" name="name" class="form-control" id="code" [(ngModel)] = "beforeUpdateUserObj.code" ngModel><br>
                                            </td>
                                            <td>
                                                <input type = "text" name="name" class="form-control" id="nameUser_name" [(ngModel)] = "beforeUpdateUserObj.username" disabled ngModel><br>
                                            </td>
                                            <td><input type="checkbox" [(ngModel)]="beforeUpdateUserObj.is_panel_member" name="checkValueMemberobject" (change)="checkValueMember(beforeUpdateUserObj.is_panel_member?'1':'0')" /></td>
                                            <td>
                                                <input type = "text" name="name" class="form-control" id="namefirstName" [(ngModel)] = "beforeUpdateUserObj.email" ngModel><br>
                                            </td>
                                            <td>
                                                <input type = "text" name="name" class="form-control" id="namelastName" [(ngModel)] = "beforeUpdateUserObj.address" ngModel><br>
                                            </td>
                                            <td>
                                                <input type = "text" name="name" class="form-control" id="namelastName" [(ngModel)] = "beforeUpdateUserObj.city" ngModel><br>
                                            </td>
                                            <td>
                                                    <input type = "number" name="name" class="form-control" id="namelastName" [(ngModel)] = "beforeUpdateUserObj.mobile_no" ngModel oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"maxlength = "10"><br>
                                                </td>
                                                <td>
                                                        <input type = "text" name="name" class="form-control" id="namelastName" [(ngModel)] = "beforeUpdateUserObj.shop_name" ngModel><br>
                                                    </td>
                                                    <td>
                                                            <input type = "text" name="name" class="form-control" id="namelastName" [(ngModel)] = "beforeUpdateUserObj.gst_no" ngModel><br>
                                                        </td>
                                                        <!-- <td> <input type="file" #fileupload [(ngModel)]="beforeUpdateUserObj.image" name="image" required class="form-control" (change)="onFileChange($event)"/> </td> -->
                                                        <td style="width: 150px;"> 
                                                                <!-- <select class="form-control" required [(ngModel)] = "beforeUpdateUserObj.category">
                                                                    <option value="0">Select</option>
                                                                <option   *ngFor="let categoryDataa of allcategoryData" [value]="categoryDataa.id" >{{categoryDataa.name}}</option>
                                                                </select> -->
                                                                
                                                               
                                                                <angular2-multiselect [data]="beforeUpdateUserObj.category" [(ngModel)]="beforeUpdateUserObj.category" [settings]="dropdownSettingsCat"
                                                                (onSelect)="onItemSelectVersion($event)" (onDeSelect)="OnItemDeSelectVersion($event)"
                                                                (onSelectAll)="onSelectAllVersion($event)" (onDeSelectAll)="onDeSelectAllVersion($event)"
                                                                name="itemNamecat">
                                                                <c-item>
                                                                    <ng-template let-item="item">
                                                                        <label style="color: #333;min-width: 150px;">{{item.itemName}}</label>
                                                                    </ng-template>
                                                                </c-item>
                                                            </angular2-multiselect>
                                                             
                                                              </td>
                                            <!-- <td>
                                                    <div class="md-checkbox">
                                                            <input type="checkbox" [(ngModel)]="beforeUpdateUserObj.isactive" [checked]="beforeUpdateUserObj.isactive" id="beforeUpdateUserObj{{beforeUpdateUserObj.UserProfileId}}" class="md-check" [(ngModel)]="beforeUpdateUserObj.isactive" value="{{beforeUpdateUserObj.isactive}}" (change)="onIsActiveChange(beforeUpdateUserObj.UserProfileId, beforeUpdateUserObj.isactive)"/>
                                                            <label for="beforeUpdateUserObj{{beforeUpdateUserObj.UserProfileId}}">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                <span *ngIf="beforeUpdateUserObj.isactive == true;then Active else InActive"></span>
                                                                <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                            </label>
                                                        </div>
                                            </td> -->
                                            <td>  <input type="submit" value = "UpdateProfile" class="btn green" form="updateUserProfileform"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
  
                            <div *ngSwitchCase="'updatePassword'">
                              <table class="table table-bordered" style="width:500px;" id="">
                                      <thead>
                                      <tr>
                                          <th>New Password</th>
                                          <th>Action</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                              <td>
                                                  <input type="password" name="Password" class="form-control" id="Password" [(ngModel)] = "Password" ngModel pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" >
                                              </td>
                                              <td>  <input type="submit" (click) ="updatePassword(Password)" value="Update Password" class="btn green"></td>
                                          </tr>
                                  </tbody>
                              </table>
                            </div> 
                            <!-- updatePassword -->

                            <div *ngSwitchCase="'updateImage'">
                                <table class="table table-bordered" style="width:500px;" id="">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>
                                                    <input type="file" #fileupload [(ngModel)]="image" name="image" required class="form-control" (change)="onFileChange($event)" accept="image/*"/>
                                                </td>
                                                <td>  <input type="submit" (click) ="updateImage(image)" value="Update Image" class="btn green"></td>
                                            </tr>
                                    </tbody>
                                </table>
                              </div> 
                    </div> 
                    <!-- ngswitch close -->
                 
  
  
                    <div class="col-md-12">
                        <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                        <!-- <form #myForm="ngForm" novalidate (ngSubmit)="filterdata(myForm)">

                                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;"> 
                                <button type="submit" class="btn btn-success btn-custom">Filter</button></form> -->
                                <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;float: right;" (input)="onSearchChange($event.target.value)">  -->
                                <div class="input-group" style="
                                padding-bottom: 10px;
                            ">
                                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;text-transform: lowercase;float: right;"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-search" (click)="onSearchChange(query)"></i>
                                    </span>
                                </div>
                    </div>
                  <div class="portlet-body table-scroll">
                      <table datatable  class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th>Vendor Id</th>
                                  <th>Outlet Code</th>
                                  <!-- <th>Is_Panel_Member</th> -->

                                    <th>Email</th>
                                      <th style="width: 296px;">Address</th>
                                    <th>City</th>
                                    <th>Mobile No</th>
                                    <th>Shop Name</th>
                                    <th>GST No</th>
                                    <!-- <th>Image</th> -->
                                    <th>Category</th>
                                  <th>Image</th>
                                  <th style="width: 140px;">Edit/Delete</th>
                                  <th>Update Password</th>
                                  <th>Change Image</th>
                                  <th>View Report</th>
                                  <th>View Inventory</th>

                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let UserdData of UserdData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: UserDataCount }  let i = index" [attr.data-index]="i">
                                <td>{{UserdData.id}}</td>
                                <td>{{UserdData.code}}</td>
                                <!-- <td>{{UserdData.is_panel_member}}</td> -->

                                <td>{{UserdData.email}}</td>
                                <td>{{UserdData.address}}</td>
                                <td>{{UserdData.city}}</td>
                                <td>{{UserdData.mobile_no}}</td>
                                <td>{{UserdData.shop_name}}</td>
                                <td>{{UserdData.gst_no}}</td>
                                <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                <td>
                                    <div style="
                                    height: 157px;
                                    overflow: scroll;
                                "><label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label></div>
                                  </td>
                                <!-- <td> {{catName}}</td> -->
                                <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td>
                                <!-- <td>{{UserdData.category}}</td> -->
                                <!-- <td>
                                    <div class="md-checkbox">
                                        <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                        <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                            <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                          </label>
                                    </div>
                                </td> -->
                                <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">

                                    <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                    <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> -->
                                    <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> -->
                                </td>
                                <td>
                                        <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                    </td>
                                    <td>
                                        <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                    </td>
                                    <td>
                                        <input type="button" (click)="viewreport(UserdData.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                    </td>
                                    <td>
                                        <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                    </td>
                               
                            </tr>
                            
                          </tbody>
                      </table>
                      <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                      <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                  </div>
                 
            </div>
             </div>
            <!-- END PAGE CONTENT-->
            </div>
              <!-- END portlet-body BODY -->
        </div>
        <!-- END CONTENT BODY -->
  <!-- </div> -->
    <!-- END CONTENT -->
   
    </div>
    </div>
   
        
  
          
          
         
        
  