<div *ngIf="router.url != '/login-form'">
  <div *ngIf="router.url != '/'">
  <app-header></app-header>
</div>
</div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <div *ngIf="router.url != '/login-form'">
      <div *ngIf="router.url != '/'">
         <div class="page-sidebar-wrapper">  
    <app-left-side></app-left-side>
  </div>
    </div>  
  </div>
  <ng4-loading-spinner> </ng4-loading-spinner>
  <router-outlet></router-outlet>
  </div>
  <div *ngIf="router.url == '/'">
  <!-- <div style="width:100%;min-height: 600px; height:auto; background-color: white;padding-top: 1px;">
<h3>Please <a href="login-form">Login</a> </h3>
  </div>  -->
 </div>
    <app-footer></app-footer>

  

