<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">
<div class="page-content-wrapper page-container-bg-solid">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="height:1024px;">
          <div class="portlet-body">
            <!-- END THEME PANEL -->
            <!-- <h1 class="page-title"> Product
                <small>Overview</small>
            </h1> -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                         <span>Home</span>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <!-- <li>
                    <!-- <i class="icon-bar-chart"></i> --
                     <a href="/master-color">Master</a>
                     <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <!-- <i class="icon-bar-chart"></i> --
                       <a href="/master-color">Colours Master </a>
                      </li> -->
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
              <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light portlet-fit ">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-settings font-red"></i>
                          <span class="caption-subject font-red sbold uppercase">Bill</span>
                      </div>
      
                  </div>
                  <div class="portlet-body">
                          <div class="table-toolbar">
                                  <!-- <div class="row"> -->
                                      <!-- <div class="col-md-3">
                                          <div class="btn-group">
                                              <button type="button" id="sample_editable_1_new" (click)="ShowProductTable()" class="btn green"> Add New Product
                                                  <i class="fa fa-plus"></i>
                                              </button>
                                          </div>
                                          
                                      </div> -->
                                      <!-- <div class="col-md-6">
                                        <div class="btn-group">
                                          <form #ngForm="ngForm" (ngSubmit)="onSubmit($event)" id="productsdata">
                                                  <input type="file" #fileupload [(ngModel)]="productsdata" name="productsdata" (change)="fileChange($event)" style="display: inline;"/>
                                                  <input type="submit" class="btn green" value="Upload File" >
                                          </form>
                                  </div>
                                      </div> -->
                                       <!-- <div class="col-md-3"> -->
                                        <!--<div class="btn-group">
                                                <form #ngForm="ngForm" (ngSubmit)="onSubmit($event)" id="productsdata">
                                                        <input type="file" #fileupload [(ngModel)]="productsdata" name="productsdata" (change)="fileChange($event)" style="display: inline;"/>
                                                        <input type="submit" class="btn green" value="Upload File" >
                                                </form>
                                        </div>-->
                                        <!-- <div class="btn-group">
                                                <button id="" (click)="Showstore()" class="btn green">Back
                                                    <i class="fa fa-arrow-left"></i>
                                                </button>
                                            </div> -->
                                    <!-- </div>  -->
                                    
                                      <!-- <div class="col-md-6">
                                          <!-- <div class="btn-group pull-right">
                                              <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                  <i class="fa fa-angle-down"></i>
                                              </button>
                                              <ul class="dropdown-menu pull-right">
                                                  <li>
                                                      <a href="javascript:;"> Print </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Save as PDF </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Export to Excel </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div> --
                                  </div> -->
                              <!-- </div> -->
                              
                              <!-- <modal #myModal>
                                    <modal-header>
                                            <h4>Add Product</h4>
                                    </modal-header>
                                    <modal-content>
                                            <div>  
                                                    <form (submit)="addProduct($event)">
                                                            <div class="form-group"> <label for="exampleInputEmail1">Name:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                            <div class="form-group"> <label for="exampleInputEmail1">Code:</label> <input type="text" class="form-control" id="exampleInputCode" placeholder=""> </div>
                                                            <div class="form-group"> <label for="exampleInputEmail1">Brand:</label> <select class="form-control" required ([ngModule])="newUserBrand">
                                                                <option value="0">Select</option>
                                                            <option   *ngFor="let BrandData of BrandData" [value]="BrandData.id" >{{BrandData.name}}</option>
                                                            </select> </div>
                                                           
                                                            <div class="form-group"><label for="exampleInputEmail1">Category:</label><select class="form-control" required ([ngModule])="newUserCategory">
                                                                    <option value="0">Select</option>
                                                                <option   *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                                </select> </div>
                                                              
                                                            <div class="form-group"> <label for="exampleInputEmail1">Price:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                            <div class="form-group"> <label for="exampleInputEmail1">Size:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                            <div class="form-group"> <label for="exampleInputEmail1">Construction Type:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                            <div class="form-group"> <label for="exampleInputDesc">Description:</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                 </form>
                                                  </div> 
                                    </modal-content>
                                    <modal-footer>
                                        <button class="btn btn-primary" (click)="myModal.close()">close</button>
                                    </modal-footer>
                                </modal> -->
                              
                      <div [ngSwitch]="viewProduct">
                          <!-- <div *ngSwitchCase="'addProduct'"> -->
                               
                          
                          <div *ngSwitchDefault></div>
                          <div class="col-md-12">
                                  <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                               
                              </div>
                          <div class="portlet-body table-scroll">
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                      <thead>
                                          <tr>
                                              <th>Vendor Id</th>
                                              <th>UserName</th>
                                              <th>Outlet Code</th>
                                              <th>Shop Name</th>
                                              <th>Category</th>
                                              <th>Bill</th>
                                              
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr  *ngFor="let UserData of UserdData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: UserDataCount }  let i = index" [attr.data-index]="i">
                                            <td>{{UserData.id}}</td>
                                            <td>{{UserData.username}}</td>
                                              <td>{{UserData.code}}</td>
                                              <td>{{UserData.shop_name}}</td>
                                              <td> {{getcategory(UserData.category)}}</td>
                                              <td>
                                                  <input type="button" (click)="selectedId=UserData;mybill.open()" data-toggle="modal" data-target="#BillModal" class="btn green" value="BillDetails" />
                                              </td>
                                          </tr>
                                      
                                      </tbody>
                                  </table>
                                  <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                              </div>
                          </div>
                          
          </div>
      </div>
            
                  <!-- END EXAMPLE TABLE PORTLET-->
              </div>
          </div>
            <!-- END PAGE CONTENT-->
            </div>
      </div>
      </div>

      <modal #mybill>
          <modal-header>
                  <h4>Bill</h4>
          </modal-header>
          <modal-content>
                  <div>
                          <div class="bill-body">
                              <div class="bill-header">
                                  <img src="assets/images/bill.png" class="img-responsive" style="width: 100px;float:  left;">
                                  <h4>{{selectedId.shop_name}}</h4>
                                  <!-- <h5>Deals In:All kinds of Old and New mobile purchase and sell</h5> -->
                                  <h5>{{selectedId.address}}</h5>
                              </div>
                              <div class="clear" style="clear: left;"></div>
                              <div class="details table-responsive">
                                  <table>
                                       <tr>
                                           <th>
                                           </th>
                                           <th>
                                               Details of receiver | Bill To
                                           </th>
                                       </tr>
                                       <tbody>
                                           <tr>
                                               <td>
                                                   <table>
                                                       <tr>
                                                           <td>Invoice No</td>
                                                           <td>{{selectedId.id}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td>Invoice Date</td>
                                                           <td>10-09-2018</td>
                                                       </tr>
                                                       <tr>
                                                           <td>State</td>
                                                           <td>{{selectedId.state}}</td>
                                                       </tr>
             
                                                   </table>
                                               </td>
                                               <td>
                                                   <table>
                                                       <tr>
                                                           <td>Name</td>
                                                           <td>{{selectedId.name}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td>Address</td>
                                                           <td style="width: 260px;">{{selectedId.address}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td>State</td>
                                                           <td>{{selectedId.state}}</td>
                                                       </tr>
                                                       <tr>
                                                           <td>Mobile No.</td>
                                                           <td>{{selectedId.mobile_no}}</td>
                                                       </tr>
                                                       
                                                   </table>
                                               </td>
                                           </tr>
                                       </tbody>
                                  </table>
                              </div>
                              <div class="product table-responsive">
                                  <table>
                                      <tr>
                                          <th>
                                              Sr.No
                                           </th>
                                           <th>
                                               Name of Product/Services
                                           </th>
                                           <th>
                                               HSN code
                                           </th>
                                           <th>
                                               QTY.
                                           </th>
                                           <th>
                                               RATE
                                           </th>
                                           <th>
                                               Amount
                                           </th>
                                       </tr>
                                      
                                       <tbody>
                                           <tr>
                                               <td></td>
                                               <td>
                                              <!-- <h5>
                                              HANDSET:.............
                                              </h5>
                                              <h5>
                                             MODEL No:.............
                                              </h5> -->
                                              <h5>
                                              SR No:1234
                                              </h5>
                                              <h5>
                                               
                                              </h5>
                                              <!-- <img src="assets/images/logo.png" class="img-responsive" style="width: 100px;float:  left;opacity: 0.4;"> -->
             
                                              <!-- <img src="assets/images/mi.png" class="img-responsive" style="width: 100px;float:  left;opacity: 0.4;">
                                              <img src="assets/images/sam.png" class="img-responsive" style="width: 100px;float:  left;opacity: 0.4;"> -->
                                              
                                               </td>
                                               <td></td>
                                               <td></td>
                                               <td></td>
                                               <td></td>
             
                                           </tr>
                                           <tr>
                                               <td></td>
                                               <td>
                                                   <h4>Total</h4>
                                               </td>
                                               <td></td>
                                               <td></td>
                                               <td></td>
                                               <td></td>
                                           </tr>
                                       </tbody>
                                  </table>
                              </div>
                              <div class="confirm table-responsive">
                                  <table>
                                      
                                       <tbody>
                                           <tr>
                                               <td rowspan="2">
                                                   <h5 style="position:  relative;top: -28px;">Total Invoice Ammount in words</h5>
                                               </td>
                                               <td rowspan="2">
                                                   <h5 style="position:  relative;top: 28px;">Athorized Signatory</h5>
                                               </td>
             
                                               <td>
                                                   <h5>Total Ammount Before Tax</h5>
                                               </td>
                                               <td>
                                                   6250
                                               </td></tr>
                                            <tr>
                                               <td>
                                                   <h5>SGST</h5>
                                               </td>
                                               <td>
                                               125
                                               </td>
                                           </tr>
                                          
                                           <tr>
                                               <td rowspan="3">
                                                   <h5 style="position:  relative;top: -50px;">Terms and Conditions</h5>
                                               </td>
                                               <td rowspan="3">
                                                   <h5 style="position:  relative;top: 50px;">Customer Sign</h5>
                                               </td>
             
                                               <td>
                                                   <h5>GST</h5>
                                               </td>
                                               <td>
                                                   125
                                               </td></tr>
                                           <tr>
                                               <td>
                                                   <h5>KGST</h5>
                                               </td>
                                               <td>
                                               125
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <h5>Total Amount After TAX</h5>
                                               </td>
                                               <td>
                                              6625/-
                                               </td>
                                           </tr>
             
                                       </tbody>
                                  </table>
                              </div>
                          </div>
                     </div>
          </modal-content>
          <modal-footer>
              <button class="btn btn-primary" (click)="mybill.close()">close</button>
          </modal-footer>
      </modal>
      
