<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">

<div class="page-content-wrapper page-container-bg-solid">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="height:1024px;">
          <div class="portlet-body">
            <!-- END THEME PANEL -->
            <!-- <h1 class="page-title"> Brand
                <small>Overview</small>
            </h1> -->
            <!-- <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                         <span>Home</span>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <!-- <li>
                    <!-- <i class="icon-bar-chart"></i> --
                     <a href="/master-color">Master</a>
                     <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <!-- <i class="icon-bar-chart"></i> --
                       <a href="/master-color">Colours Master </a>
                      </li> --
                </ul>
            </div> -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
              <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light portlet-fit ">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-settings font-red"></i>
                          <span class="caption-subject font-red sbold uppercase">Brand</span>
                      </div>
      
                  </div>
                  <div class="portlet-body">
                          <div class="table-toolbar">
                                  <div class="row">
                                      <div class="col-md-3">
                                          <div class="btn-group">
                                              <button type="button" id="sample_editable_1_new" (click)="ShowStoreTable()" class="btn green"> Add New Brand
                                                  <i class="fa fa-plus"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="col-md-3">
                                        <div class="btn-group">
                                            <button id="" (click)="ShowCat()" class="btn green">Back
                                                <i class="fa fa-arrow-left"></i>
                                            </button>
                                        </div>
                                    </div>
                                      <div class="col-md-6">
                                          <!-- <div class="btn-group pull-right">
                                              <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                  <i class="fa fa-angle-down"></i>
                                              </button>
                                              <ul class="dropdown-menu pull-right">
                                                  <li>
                                                      <a href="javascript:;"> Print </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Save as PDF </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Export to Excel </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div> -->
                                  </div>
                              </div>
                                    <!-- <modal #myModal>
                                        <modal-header>
                                                <h4>Vendor Details:</h4>
                                        </modal-header>
                                        <modal-content>
                                                <div class="forms">
					
                                                        <div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
                                                            <div class="form-title">
                                                                
                                                            </div>
                                                            <div class="form-body">
                                                                <form> <div class="form-group"> 
                                                                    <label for="exampleInputEmail1">Dealer Code</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div> 
                                                                <div class="form-group"> <label for="exampleInputEmail1">Dealer Name</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div> 
                                                                <div class="form-group"> <label for="exampleInputEmail1">Dealer Address</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div> 
                                                                <div class="form-group"> <label for="exampleInputEmail1">City</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div> 
                                                                <div class="form-group"> <label for="exampleInputEmail1">State</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                                <div class="form-group"> <label for="exampleInputEmail1">PIN CODE</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                                <div class="form-group"> <label for="exampleInputEmail1">Landline Phone </label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                                <div class="form-group"> <label for="exampleInputEmail1">Mobile</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div>
                                                                <div class="form-group"> <label for="exampleInputEmail1">Shop Type</label> <input type="text" class="form-control" id="exampleInputEmail1" placeholder=""> </div> 
                                    
                                                         <button type="submit" class="btn btn-default">Submit</button> </form> 
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                    </div>
                                        </modal-content>
                                        <modal-footer>
                                            <button class="btn btn-primary" (click)="myModal.close()">close</button>
                                        </modal-footer>
                                    </modal> -->
                                
                             
                      <div [ngSwitch]="viewStore">
                          <!-- <div *ngSwitchCase="'addStore'"> -->
                                <div *ngSwitchCase="'addStore'">
                                        <form (submit)="addBrand($event)">
                                              <table class="table table-hover table-bordered" id="">
                                                      <thead>
                                                          <tr>
                                                              <!-- <th>Vendor Id</th> -->
                                                              <th>Name</th>
                                                              <th>Description</th>
                                                              <th>Category</th>
                                                              <th>Add </th>
                                                          </tr>
                                                      </thead> 
                                                      <tbody>  
                                                          <tr>
                                                              <!-- <td> <input type="text" ([ngModule])="newUserId" required class="form-control"/> </td> -->
                                                              <td> <input type="text" ([ngModule])="Name" required class="form-control"/> </td>
                                                              <td> <input type="text" ([ngModule])="Description" required class="form-control"/> </td>
                                                              <!-- <td> <input type="file" ([ngModule])="newUserimage" required class="form-control"/> </td> -->
                                                              <td> 
                                                              <select class="form-control" required ([ngModule])="newUserCategory">
                                                                  <option value="0">Select</option>
                                                              <option   *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                              </select> 
                                                            </td>
                                                             <td><input type="submit" class="btn green" value="Add" /></td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </form>
                                      </div>
                          <div *ngSwitchCase="'editStore'">
                                  <form id="updateColourform" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateBrand(beforeUpdateBrandObj)">
                                        </form>
                                        <table class="table table-striped table-hover table-bordered order-column" id="">
                                              <thead>
                                                      <tr>
                                                          <th> ID </th>
                                                          <th> Brand Name </th>
                                                          <th> Description </th>
                                                          <th> Category</th>
                                                          <th> Is Active </th>
                                                          <th> Edit </th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                              <tr>
                                                  <td>
                                                          <label>{{beforeUpdateBrandObj.id}}</label><input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateBrandObj.id" ngModel><br>    
                                                  </td>
                                                  <td>
                                                          <input type = "text" name="name" id="name" class="form-control" placeholder="name" [(ngModel)] = "beforeUpdateBrandObj.name" ngModel><br>
                                                  </td>
                                                  <td>
                                                      <input type = "text" name="name" id="name" class="form-control" placeholder="name" [(ngModel)] = "beforeUpdateBrandObj.description" ngModel><br>
                                              </td>
                                              <td>
                                                <select class="form-control" required [(ngModel)] = "beforeUpdateBrandObj.category" ngModel>
                                                    <option value="0">Select</option>
                                                <option   *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                </select> 
                                        </td>

                                                  <td>
                                                          <div class="md-checkbox">
                                                                  <input type="checkbox" [(ngModel)]="beforeUpdateBrandObj.is_active" [checked]="beforeUpdateBrandObj.is_active" id="beforeUpdateBrandObj{{beforeUpdateBrandObj.id}}" class="md-check" [(ngModel)]="beforeUpdateBrandObj.is_active" value="{{beforeUpdateBrandObj.is_active}}" (change)="onIsActiveChange(beforeUpdateBrandObj.id, beforeUpdateBrandObj.is_active)"/>
                                                                  <label for="beforeUpdateBrandObj{{beforeUpdateBrandObj.id}}">
                                                                      <span class="inc"></span>
                                                                      <span class="check"></span>
                                                                      <span class="box"></span>
                                                                      <span *ngIf="beforeUpdateBrandObj.is_active == true;then Active else InActive"></span>
                                                                      <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                                  </label>
                                                              </div>
                                                  </td>
                                                  <td>  <input type="submit" value = "Update" (click) = "updateBrand(beforeUpdateBrandObj)" class="btn green" form="updateColourform"></td>
                                              </tr>
                                              </tbody>
                                          </table>
                          </div>
                          <div *ngSwitchDefault></div>
                          <div class="col-md-12">
                                  <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                                 
                                        <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                                        <!-- <form #myForm="ngForm" novalidate (ngSubmit)="filterdata(myForm)">
                
                                                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;"> 
                                                <button type="submit" class="btn btn-success btn-custom">Filter</button></form> -->
                                                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;float: right;" (input)="onSearchChange($event.target.value)"> 
                                    
                              </div>
                          <div class="portlet-body table-scroll">
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                      <thead>
                                          <tr>
                                              <th> ID </th>
                                              <th> Brand Name </th>
                                              <th> Description </th>
                                              <th> Category </th>
                                              <th> Is Active </th>
                                              <th> Edit/Delete </th>
                                              <th> View Models</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let BranddData of BrandData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: brandDataCount }  let i = index" [attr.data-index]="i" >
                                              <td> {{BranddData.id}}</td>
                                              <td> {{BranddData.name}} </td>
                                              <td> {{BranddData.description}} </td>
                                              <td> {{BranddData.catname}} </td>
                                              <td>
                                                   <div class="md-checkbox">
                                                      <input type="checkbox" [(ngModel)]="BranddData.is_active" id="brandMasterIsActiveId{{BranddData.id}}" class="md-check" (change)="onIsActiveChange(BranddData.id, BranddData.is_active)"/>
                                                      <label for="brandMasterIsActiveId{{BranddData.id}}">
                                                          <span class="inc"></span>
                                                          <span class="check"></span>
                                                          <span class="box"></span>
                                                          <span *ngIf="BranddData.is_active == true;then Active else InActive"></span>
                                                          <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                                </label>
                                                  </div>
                                              </td>
                                              <td>
                                                  <input type="button" (click)="editBrand(BranddData)" class="btn green" value="Edit" />
                                                  <input type="button" (click)="deleteBrand(BranddData)" class="btn green" value="Delete" style="background-color: #e7505a;"/>
                                              </td>
                                              <td>
                                                <input type="button" (click)="redirect(BranddData.id)" class="btn green" value="View Models" />
                                            </td>
                                              <!-- <td>
                                                  <input type="button" (click)="deleteColour(mastercolours.master_colour_id)" value="Delete" />
                                              </td> -->
                                          </tr>
                                      
                                      </tbody>
                                  </table>
                                  <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                              </div>
                          </div>
          </div>
      </div>
            
                  <!-- END EXAMPLE TABLE PORTLET-->
              </div>
          </div>
            <!-- END PAGE CONTENT-->
            </div>
      </div>
      </div>
      