<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper page-container-bg-solid">
                <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="height:auto; min-height:1024px;">
                <div class="portlet-body">
                    <!-- END THEME PANEL -->
                    <!-- <h1 class="page-title"> Dashboard
                        <small>Home</small>
                    </h1> -->
                    <!-- <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <span>Home</span>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                            <!-- <i class="icon-bar-chart"></i> --
                            <a [routerLink]="['dashboard']">Dashboard</a>
                            </li>
                        </ul>
                    </div> -->
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTENT-->
                    <!-- <h4>Date Wise</h4> -->


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                <form #myFormcount="ngForm" novalidate (ngSubmit)="filterDataCount(myFormcount)">

                                              <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="form-group">
                                                              <label for="name">State</label>
                                                              <select class="form-control" name="Statecount" [(ngModel)]="Statecount" (change)="getCityData(Statecount)">
                                                                    <option value="null" selected>Select</option>
                                                                <option *ngFor="let StateDataListt of StateDataList" [value]="StateDataListt">{{StateDataListt}}</option>
                                                               
                                                            </select>
                                                </div>
                                              </div>
                
                                              <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="form-group">
                                                              <label for="name">City</label>
                                                              <select class="form-control" name="SelectedCityCount" [(ngModel)]="SelectedCityCount">
                                                                    <option [value]="null" selected>Select</option>
                                                                <option *ngFor="let cityDataListt of cityDataList " [value]="cityDataListt.name">{{cityDataListt.name}}</option>
                                                               
                                                            </select>
                                                </div>
                                              </div>
                                          
                                                          <div class="col-lg-2 col-md-2 col-sm-2">
                                                            <div class="form-group">
                                                                    <label for="name">Select Date</label>
                                                            <my-date-range-picker name="mydaterangecount" [options]="myDateRangePickerOptions" id="mydaterangecount" [(ngModel)]="mydaterangecount"></my-date-range-picker>
                                                                </div>
                                                              </div>
                                                          <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                                                                <p></p>    
                                        <button type="submit" class="btn btn-success btn-custom">Filter</button>
                                           
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                                        <p></p>
                    <button type="reset" class="btn btn-danger btn-custom" (click)="onResetFiltercount()" >Reset</button></div>
                    <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                        <p></p>
                    <button class="btn btn-primary" type="button" (click)="onRefresh()"><span class="glyphicon glyphicon-refresh" ></span> Refresh</button>
                           </div>
                                                </form></div>
                                                <h3 style="
                                                float: right;
                                                padding-bottom: 10px;
                                            ">Total Vendors: <b>{{UserDataCount}}</b></h3></div>
                                                
                   
                        <div class="main-page" style="
                        font-size: 14px;
                    ">
                                <div class="row-one">
                                    <div class="col-md-4 col-sm-4 " (click)="myModal5.open()" style="
                                    cursor: -webkit-grab;
                                ">
                                        <div class="stats-left " style="background-color: #8da858;
                                    ">
                                            <h5>Total</h5>
                                            <h4>Registered</h4>
                                        </div>
                                        <div class="stats-right">
                                            <label> {{registerUserDataCount}}</label>
                                        </div>
                                        <div class="clearfix"> </div>	
                                    </div>
                                    <div class="col-md-4 col-sm-4 " (click)="myModal3.open()" style="
                                    cursor: -webkit-grab;
                                ">
                                        <div class="stats-left"  style="background-color: #55b8c0;">
                                            <h5>Registered Panel</h5>
                                            <h4>Members</h4>
                                        </div>
                                        <div class="stats-right">
                                            <label>{{PanelMemberDataCount}}</label>
                                        </div>
                                        <div class="clearfix"> </div>	
                                    </div>

                                    <div class="col-md-4 col-sm-4 " (click)="myModal4.open()" style="
                                    cursor: -webkit-grab;
                                ">
                                        <div class="stats-left" style="background-color: #cb9e5b;">
                                            <h5> Registered Non-Panel</h5>
                                            <h4>Members</h4>
                                        </div>
                                        <div class="stats-right">
                                            <label>{{NonPanelMemberDataCount}}</label>
                                        </div>
                                        <div class="clearfix"> </div>	
                                    </div>
                                    
                                    <div class="clearfix"> </div>	
                                </div>
                                <div style="
                                float: right;
                                padding-top: 10px;
                            "><input type="button" class="btn green" value="DownloadAllReport"  (click) = "downloadExcel()"/></div>
                                <div class="clearfix"> </div>
                            </div>

                            <hr style="border: 0;
border-top: 2px solid #383535;
border-bottom: 0;">
                            
                            <div class="main-page" style="
                            margin-top: 10px;font-size: 14px;
                        ">
                                <div class="row-one">
                                    <div class="col-md-6 col-sm-6 " (click)="myModal.open()" style="
                                    cursor: -webkit-grab;
                                ">
                                        <div class="stats-left ">
                                            <h5>Total</h5>
                                            <h4>Today's Registered</h4>
                                        </div>
                                        <div class="stats-right">
                                            <label> {{UserdDataTodaysCount}}</label>
                                        </div>
                                        <div class="clearfix"> </div>	
                                    </div>
                                    <div class="col-md-6 col-sm-6 " (click)="myModal2.open()" style="
                                    cursor: -webkit-grab;
                                ">
                                        <div class="stats-left" style="background-color: #d56277;">
                                            <h5>Today's</h5>
                                            <h4>dealers using app</h4>
                                        </div>
                                        <div class="stats-right">
                                            <label>{{UserdDataTodaysAppUseCount}}</label>
                                        </div>
                                        <div class="clearfix"> </div>	
                                    </div>
                                    
                                    <div class="clearfix"> </div>	
                                </div>
                               
                                <div class="clearfix"> </div>
                            </div>
<hr style="border: 0;
border-top: 2px solid #383535;
border-bottom: 0;">

 <input type="text" class="form-control" placeholder="Search By Dealer Code" [(ngModel)]="query" name="listSearch" id="listSearch" style="width: 22%;margin-bottom: 10px;text-transform: lowercase;float: right;margin: 16px;
                        " (input)="onSearchChange($event.target.value)">
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
                <form #myForm="ngForm" novalidate (ngSubmit)="filterData(myForm)">

                       
                              <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                              <label for="name">State</label>
                                              <select class="form-control" name="State" [(ngModel)]="State" (change)="getCityData(State)">
                                                    <option [value]="" selected>Select</option>
                                                <option *ngFor="let StateDataListt of StateDataList" [value]="StateDataListt">{{StateDataListt}}</option>
                                               
                                            </select>
                                </div>
                              </div>

                              <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                              <label for="name">City</label>
                                              <select class="form-control" name="SelectedCity" [(ngModel)]="SelectedCity">
                                                    <option [value]="" selected>Select</option>
                                                <option *ngFor="let cityDataListt of cityDataList" [value]="cityDataListt.name">{{cityDataListt.name}}</option>
                                               
                                            </select>
                                </div>
                              </div>
                   
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                                  <label for="name">Category</label>
                                                  <select class="form-control"  name="Selectedcategory" [(ngModel)]="Selectedcategory" (change)="getBrandData(Selectedcategory)">
                                                    <option [value]="" selected>Select</option>
                                                <option *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                </select> 
                                    </div>
                                  </div>

                                 
                                 
                                      <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                          <label for="name">Brand</label>
                                                          <select class="form-control" name="brand" [(ngModel)]="brand" (change)="getProductData(brand)">
                                                            <option [value]="">Select</option>
                                                        <option   *ngFor="let BrandData of BrandData" [value]="BrandData.id" >{{BrandData.name}}</option>
                                                        </select>
                                            </div>
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label for="name">Model</label>
                                                <select class="form-control" name="products" [(ngModel)]="products">
                                                  <option [value]="">Select</option>
                                              <option   *ngFor="let ProductData of ProductData" [value]="ProductData.id" >{{ProductData.name}}</option>
                                              </select>
                                  </div>
                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                    <label for="name">Select Date</label>
                                            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" id="myDatepicker" [(ngModel)]="mydaterange"></my-date-range-picker>
                                                </div>
                                              </div>
                                          <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                                                <p></p>    
                        <button type="submit" class="btn btn-success btn-custom">Filter</button>
                           
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1" style=" margin-top: 21px;"> 
                        <p></p>
    <button type="reset" class="btn btn-danger btn-custom" (click)="onResetFilter()" >Reset</button>
           </div>
                                </form></div></div>
                            <!-- <div class="row">
                                <div >
                                    <h4>Store Wise Brands</h4>
                                    <canvas
                                        baseChart
                                        height="500px" width="1400px"
                                        [chartType]="'bar'"
                                        [datasets]="chartData"
                                        [labels]="labels"
                                        [options]="chartOptions"
                                        [legend]="true"
                                        [colors]="colors"
                                       >
                                    </canvas>
                                  </div>
                        </div> -->
                        <div>
                            <div>
                              <div *ngIf="barChartDataa" style="display: block">
                                <h4>Store Wise Brands</h4>
                                <canvas  baseChart
                                height="500px" width="1400px"
                                  [datasets]="barChartDataa"
                                  [labels]="barChartLabelss"
                                  [options]="barChartOptions"
                                  [legend]="barChartLegend"
                                  [chartType]="barChartType">
                                </canvas>
                              </div>
                              <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
                            </div>
                          </div>
                        
                        <!-- <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6"><div echarts [options]="chartOptions" class="demo-chart"></div></div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6"><div echarts [options]="chartOptionslocation" class="demo-chart"></div></div> --
                        </div> -->
                    <!-- END col-lg-12 col-lg-12 col-md-12 col-sm-12 col-sm-12-->
                    <!-- END PAGE CONTENT-->
                    </div>
                    <!-- END portlet-body BODY -->
                </div>
                <!-- END CONTENT BODY -->
        <!-- </div> -->
            <!-- END CONTENT -->
        
            
            </div>
           
                <!-- <div echarts [options]="EChartOption" class="demo-chart"></div> -->
               

            <div class="row">
                <!-- <button (click)="myModal.open()">open my modal</button> -->
                <modal #myModal
              
                modalClass="modal-lg modal-sm any-other-css-class"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="false">
                    <modal-header>
                        <h1>Today's Registered</h1>
                    </modal-header>
                    <modal-content>
                        <div class="portlet-body table-scroll">
                            <table datatable  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Vendor Id</th> -->
                                        <!-- <th>UserName</th> -->
                                        <th>Outlet Code</th>
                                          <th>Email</th>
                                            <th style="width: 296px;">Address</th>
                                          <th>City</th>
                                          <th>Mobile No</th>
                                          <th>Shop Name</th>
                                          <th>GST No</th>
                                          <!-- <th>Image</th> -->
                                          <!-- <th>Category</th>
                                        <th>Image</th> -->
                                        <!-- <th style="width: 140px;">Edit/Delete</th>
                                        <th>Update Password</th>
                                        <th>Change Image</th>-->
                                        <th>View Report</th>
                                        <!-- <th>View Inventory</th> --> 
      
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let UserdData of UserdDataTodays | paginate: { id:'p', itemsPerPage: 10, currentPage: p, totalItems: UserdDataTodaysCount }  let i = index" [attr.data-index]="i">
                                      <!-- <td>{{UserdData.id}}</td> -->
                                      <!-- <td>{{UserdData.username}}</td> -->
                                      <td>{{UserdData.code}}</td>
                                      <td>{{UserdData.email}}</td>
                                      <td>{{UserdData.address}}</td>
                                      <td>{{UserdData.city}}</td>
                                      <td>{{UserdData.mobile_no}}</td>
                                      <td>{{UserdData.shop_name}}</td>
                                      <td>{{UserdData.gst_no}}</td>
                                      <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                      <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                      <!-- <td>
                                          <label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label>
                                        </td> -->
                                      <!-- <td> {{catName}}</td> -->
                                      <!-- <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td> -->
                                      <!-- <td>{{UserdData.category}}</td> -->
                                      <!-- <td>
                                          <div class="md-checkbox">
                                              <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                              <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                                  <span class="inc"></span>
                                                  <span class="check"></span>
                                                  <span class="box"></span>
                                                  <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                                  <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                </label>
                                          </div>
                                      </td> -->
                                      <!-- <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">
      
                                          <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                          <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> --
                                          <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> --
                                      </td> -->
                                      <!-- <td>
                                              <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                          </td>
                                          <td>
                                              <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                          </td> -->
                                          <td>
                                              <input type="button" (click)="viewreport(UserdData.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                          </td>
                                        <!--<td>
                                              <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                          </td> -->
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>
                            <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                            <pagination-controls (pageChange)="pageChange(p = $event)" id="p"></pagination-controls>

                            <div style="
                            text-align: center;
                        "><input type="button" class="btn green" value="DownloadCode"  (click) = "downloadCode3()"/></div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button class="btn btn-primary" (click)="myModal.close()">close</button>
                    </modal-footer>
                </modal>
            </div>   
            
            <div class="row">
                <!-- <button (click)="myModal.open()">open my modal</button> -->
                <modal #myModal2
              
                modalClass="modal-lg modal-sm any-other-css-class"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="false">
                    <modal-header>
                        <h1>Today No. of dealers using app</h1>
                    </modal-header>
                    <modal-content>
                        <div class="portlet-body table-scroll">
                            <table datatable  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Vendor Id</th> -->
                                        <!-- <th>UserName</th> -->
                                        <th>Outlet Code</th>
                                          <th>Email</th>
                                            <th style="width: 296px;">Address</th>
                                          <th>City</th>
                                          <th>Mobile No</th>
                                          <th>Shop Name</th>
                                          <th>GST No</th>
                                          <!-- <th>Image</th> -->
                                          <!-- <th>Category</th>
                                        <th>Image</th> -->
                                        <!-- <th style="width: 140px;">Edit/Delete</th>
                                        <th>Update Password</th>
                                        <th>Change Image</th>-->
                                        <th>View Report</th>
                                        <!-- <th>View Inventory</th> --> 
      
                                    </tr>
                                </thead>
                                <tbody *ngFor="let UserdDatakey of UserdDataTodaysAppUseKeys">
                                  <tr *ngFor="let UserdData of UserdDataTodaysAppUse[UserdDatakey]  let i = index" [attr.data-index]="i">
                                      <!-- <td>{{UserdData.id}}</td> -->
                                      <!-- <td>{{UserdData.username}}</td> -->
                                      <td>{{UserdData.code}}</td>
                                      <td>{{UserdData.email}}</td>
                                      <td>{{UserdData.address}}</td>
                                      <td>{{UserdData.city}}</td>
                                      <td>{{UserdData.mobile_no}}</td>
                                      <td>{{UserdData.shop_name}}</td>
                                      <td>{{UserdData.gst_no}}</td>
                                      <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                      <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                      <!-- <td>
                                          <label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label>
                                        </td> -->
                                      <!-- <td> {{catName}}</td> -->
                                      <!-- <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td> -->
                                      <!-- <td>{{UserdData.category}}</td> -->
                                      <!-- <td>
                                          <div class="md-checkbox">
                                              <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                              <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                                  <span class="inc"></span>
                                                  <span class="check"></span>
                                                  <span class="box"></span>
                                                  <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                                  <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                </label>
                                          </div>
                                      </td> -->
                                      <!-- <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">
      
                                          <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                          <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> --
                                          <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> --
                                      </td> -->
                                      <!-- <td>
                                              <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                          </td>
                                          <td>
                                              <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                          </td> -->
                                          <td>
                                              <input type="button" (click)="viewreport(UserdData.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                          </td>
                                        <!--<td>
                                              <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                          </td> -->
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>
                            <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                            <!-- <pagination-controls (pageChange)="pageChange4(r = $event)" id="r"></pagination-controls> -->
                            <div style="
                            text-align: center;
                        "><input type="button" class="btn green" value="DownloadCode"  (click) = "downloadCode4()"/></div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button class="btn btn-primary" (click)="myModal2.close()">close</button>
                    </modal-footer>
                </modal>
            </div>   
            
            <div class="row">
                <!-- <button (click)="myModal.open()">open my modal</button> -->
                <modal #myModal3
              
                modalClass="modal-lg modal-sm any-other-css-class"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="false">
                    <modal-header>
                        <h1>Panel Members</h1>
                    </modal-header>
                    <modal-content>
                        <div class="portlet-body table-scroll">
                            <table datatable  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Vendor Id</th> -->
                                        <!-- <th>UserName</th> -->
                                        <th>Outlet Code</th>
                                          <th>Email</th>
                                            <th style="width: 296px;">Address</th>
                                          <th>City</th>
                                          <th>Mobile No</th>
                                          <th>Shop Name</th>
                                          <th>GST No</th>
                                          <!-- <th>Image</th> -->
                                          <!-- <th>Category</th>
                                        <th>Image</th> -->
                                        <!-- <th style="width: 140px;">Edit/Delete</th>
                                        <th>Update Password</th>
                                        <th>Change Image</th>-->
                                        <th>View Report</th>
                                        <!-- <th>View Inventory</th> --> 
      
                                    </tr>
                                </thead>
                                <tbody>
                 <tr *ngFor="let PanelMember of PanelMemberData |paginate: { id:'q', itemsPerPage: 10, currentPage: q, totalItems: PanelMemberDataCount}">
                                      <!-- <td>{{UserdData.id}}</td> -->
                                      <!-- <td>{{UserdData.username}}</td> -->
                                      <td>{{PanelMember.code}}</td>
                                      <td>{{PanelMember.email}}</td>
                                      <td>{{PanelMember.address}}</td>
                                      <td>{{PanelMember.city}}</td>
                                      <td>{{PanelMember.mobile_no}}</td>
                                      <td>{{PanelMember.shop_name}}</td>
                                      <td>{{PanelMember.gst_no}}</td>
                                      <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                      <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                      <!-- <td>
                                          <label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label>
                                        </td> -->
                                      <!-- <td> {{catName}}</td> -->
                                      <!-- <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td> -->
                                      <!-- <td>{{UserdData.category}}</td> -->
                                      <!-- <td>
                                          <div class="md-checkbox">
                                              <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                              <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                                  <span class="inc"></span>
                                                  <span class="check"></span>
                                                  <span class="box"></span>
                                                  <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                                  <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                </label>
                                          </div>
                                      </td> -->
                                      <!-- <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">
      
                                          <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                          <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> --
                                          <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> --
                                      </td> -->
                                      <!-- <td>
                                              <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                          </td>
                                          <td>
                                              <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                          </td> -->
                                          <td>
                                              <input type="button" (click)="viewreport(PanelMember.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                          </td>
                                        <!--<td>
                                              <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                          </td> -->
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>
                            <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                            <pagination-controls (pageChange)="pageChange3(q = $event)" id="q"></pagination-controls>

                            <div style="
                            text-align: center;
                        "><input type="button" class="btn green" value="DownloadCode"  (click) = "downloadCode2()"/></div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button class="btn btn-primary" (click)="myModal3.close()">close</button>
                    </modal-footer>
                </modal>
            </div>

            <div class="row">
                <!-- <button (click)="myModal.open()">open my modal</button> -->
                <modal #myModal4
              
                modalClass="modal-lg modal-sm any-other-css-class"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="false">
                    <modal-header>
                        <h1>Non Panel Members</h1>
                    </modal-header>
                    <modal-content>
                        <div class="portlet-body table-scroll">
                            <table datatable  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Vendor Id</th> -->
                                        <!-- <th>UserName</th> -->
                                        <th>Outlet Code</th>
                                          <th>Email</th>
                                            <th style="width: 296px;">Address</th>
                                          <th>City</th>
                                          <th>Mobile No</th>
                                          <th>Shop Name</th>
                                          <th>GST No</th>
                                          <!-- <th>Image</th> -->
                                          <!-- <th>Category</th>
                                        <th>Image</th> -->
                                        <!-- <th style="width: 140px;">Edit/Delete</th>
                                        <th>Update Password</th>
                                        <th>Change Image</th>-->
                                        <th>View Report</th>
                                        <!-- <th>View Inventory</th> --> 
      
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let UserdData of NonPanelMemberData | paginate: { id:'s',itemsPerPage: 10, currentPage: s, totalItems: NonPanelMemberDataCount }  let i = index" [attr.data-index]="i">
                                      <!-- <td>{{UserdData.id}}</td> -->
                                      <!-- <td>{{UserdData.username}}</td> -->
                                      <td>{{UserdData.code}}</td>
                                      <td>{{UserdData.email}}</td>
                                      <td>{{UserdData.address}}</td>
                                      <td>{{UserdData.city}}</td>
                                      <td>{{UserdData.mobile_no}}</td>
                                      <td>{{UserdData.shop_name}}</td>
                                      <td>{{UserdData.gst_no}}</td>
                                      <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                      <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                      <!-- <td>
                                          <label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label>
                                        </td> -->
                                      <!-- <td> {{catName}}</td> -->
                                      <!-- <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td> -->
                                      <!-- <td>{{UserdData.category}}</td> -->
                                      <!-- <td>
                                          <div class="md-checkbox">
                                              <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                              <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                                  <span class="inc"></span>
                                                  <span class="check"></span>
                                                  <span class="box"></span>
                                                  <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                                  <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                </label>
                                          </div>
                                      </td> -->
                                      <!-- <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">
      
                                          <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                          <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> --
                                          <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> --
                                      </td> -->
                                      <!-- <td>
                                              <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                          </td>
                                          <td>
                                              <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                          </td> -->
                                          <td>
                                              <input type="button" (click)="viewreport(UserdData.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                          </td>
                                        <!--<td>
                                              <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                          </td> -->
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>
                            <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                            <pagination-controls (pageChange)="pageChange2(s = $event)" id="s"></pagination-controls>

                            <!-- <div style="
                            text-align: center;
                        "><input type="button" class="btn green" value="DownloadCode"  (click) = "downloadCode2()"/></div> -->
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button class="btn btn-primary" (click)="myModal4.close()">close</button>
                    </modal-footer>
                </modal>
            </div>

            <div class="row">
                <!-- <button (click)="myModal.open()">open my modal</button> -->
                <modal #myModal5
              
                modalClass="modal-lg modal-sm any-other-css-class"
                [hideCloseButton]="false"
                [closeOnEscape]="true"
                [closeOnOutsideClick]="false">
                    <modal-header>
                        <h1>Registered User</h1>
                    </modal-header>
                    <modal-content>
                        <div class="portlet-body table-scroll">
                            <table datatable  class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Vendor Id</th> -->
                                        <!-- <th>UserName</th> -->
                                        <th>Outlet Code</th>
                                          <th>Email</th>
                                            <th style="width: 296px;">Address</th>
                                          <th>City</th>
                                          <th>Mobile No</th>
                                          <th>Shop Name</th>
                                          <th>GST No</th>
                                          <!-- <th>Image</th> -->
                                          <!-- <th>Category</th>
                                        <th>Image</th> -->
                                        <!-- <th style="width: 140px;">Edit/Delete</th>
                                        <th>Update Password</th>
                                        <th>Change Image</th>-->
                                        <th>View Report</th>
                                        <!-- <th>View Inventory</th> --> 
      
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let UserdData of registerUserData | paginate: { id:'t',itemsPerPage: 10, currentPage: t, totalItems: registerUserDataCount }  let i = index" [attr.data-index]="i">
                                      <!-- <td>{{UserdData.id}}</td> -->
                                      <!-- <td>{{UserdData.username}}</td> -->
                                      <td>{{UserdData.code}}</td>
                                      <td>{{UserdData.email}}</td>
                                      <td>{{UserdData.address}}</td>
                                      <td>{{UserdData.city}}</td>
                                      <td>{{UserdData.mobile_no}}</td>
                                      <td>{{UserdData.shop_name}}</td>
                                      <td>{{UserdData.gst_no}}</td>
                                      <!-- <td>{{getcategory(UserdData.category)}}</td> -->
                                      <!-- <td *ngFor="let cat of catName">{{cat}}</td> -->
                                      <!-- <td>
                                          <label *ngFor="let cat of UserdData.categories; let isLast=last">{{cat.catName}}{{isLast ? '' : ', '}} </label>
                                        </td> -->
                                      <!-- <td> {{catName}}</td> -->
                                      <!-- <td><img src= {{UserdData.image}} alt="image" height="42" width="42"></td> -->
                                      <!-- <td>{{UserdData.category}}</td> -->
                                      <!-- <td>
                                          <div class="md-checkbox">
                                              <input type="checkbox" [(ngModel)]="UserProfile.is_active" id="UserProfileIsActiveId{{UserProfile.Vendor_id}}" class="md-check" (change)="onIsActiveChange(UserProfile.User_id, UserProfile.is_active)"/>
                                              <label for="UserProfileIsActiveId{{UserProfile.Vendor_id}}">
                                                  <span class="inc"></span>
                                                  <span class="check"></span>
                                                  <span class="box"></span>
                                                  <span *ngIf="UserProfile.is_active == true;then Active else InActive"></span>
                                                  <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                </label>
                                          </div>
                                      </td> -->
                                      <!-- <td><img src="./../../assets/edit.png" alt="edit" (click)="editUser(UserdData.id)" style= "width:22%;margin-right: 5px;">
      
                                          <img src="./../../assets/delete.png" alt="edit" (click)="DeleteUser(UserdData)" style=" width: 34%">
                                          <!-- <input type="button" (click)="editUser(UserdData.id)" class="btn green" value="Edit" style="font-size: 10px;" /> --
                                          <!-- <input type="button" (click)="DeleteUser(UserdData)" class="btn green" value="Delete" style="background-color: #e7505a;font-size: 10px;"/> --
                                      </td> -->
                                      <!-- <td>
                                              <input type="button" (click)="changePassword(UserdData.id, UserdData.username)" class="btn green" value="ChangePassword" style="font-size: 11px; "/>
                                          </td>
                                          <td>
                                              <input type="button" (click)="changeImage(UserdData.id, UserdData.username)" class="btn green" value="ChangeImage" style="font-size: 11px; "/>
                                          </td> -->
                                          <td>
                                              <input type="button" (click)="viewreport(UserdData.id)" class="btn green" value="viewReport" style="font-size: 11px; "/>
                                          </td>
                                        <!--<td>
                                              <input type="button" (click)="viewInventory(UserdData.id)" class="btn green" value="viewInventory" style="font-size: 11px; "/>
                                          </td> -->
                                     
                                  </tr>
                                  
                                </tbody>
                            </table>
                            <!-- <label><a href= {{UserdData.previous}}>Previous</a></label><label ><a href= {{UserdData.next}}>Next</a></label> -->
                            <pagination-controls (pageChange)="pageChange5(t = $event)" id="t"></pagination-controls>

                            <div style="
                            text-align: center;
                        "><input type="button" class="btn green" value="DownloadCode"  (click) = "downloadCode()"/></div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button class="btn btn-primary" (click)="myModal5.close()">close</button>
                    </modal-footer>
                </modal>
            </div>
                
                
                
    