/* .container-gray{background-color: #a3a3a33b;}
.padd-20{padding:20px;}
.add-btn{padding: 6px 20px;}
.blueclr{color:#52c4bb; font-weight: 600;}
.bg-clr-teal{background-color: #17C4BB;}
.bg-clr-red{background-color: #c41717;}
.text-clr-white{color:white;}
.text-clr-red{color:red;}
.padd-t-30{padding-top:30px;}
.page-container{padding-top:65px;}
.width-4{width: 40px;}
.width-15{width: 150px;}*/
@media only screen and (max-width: 1440px) {
    .scrollonSmallDevice{
      overflow: scroll;
    }
    h4 {
      font-size: 11px;
  }
} 
.table-scroll{height: 430px;
  overflow-y: auto;
  width: 100%}

    .ddstyle{width: 120px;}

    .stats-left {
      float: left;
      width: 70%;
      background-color: #747577;
      text-align: center;
      padding: 1em;
  }

  .stats-right {
    float: right;
    width: 30%;
    text-align: center;
    padding: 1.54em 1em;
    background-color: #383535;
}
.demo-chart {
  height: 400px;
}