<!-- BEGIN SIDEBAR -->
            <!-- <div class="page-sidebar-wrapper"> -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-menu-customeJs" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <li class="nav-item dashboard">
                            <a [routerLink]="['dashboard']" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                        </li>
                        <li class="nav-item categories">
                            <a [routerLink]="['categories']" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Categories</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                           
                        </li>
                        <!-- <li class="nav-item master-table">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Shop Master</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                              <li class="nav-item store">
                                        <a [routerLink]="['store']" class="nav-link ">
                                            <!-- <i class="icon-equalizer"></i> --
                                            <span class="title">Add Store</span>
                                            <!-- <span class="badge badge-danger">5</span> --
                                        </a>
                                    </li> 
                               <li class="nav-item products">
                                        <a [routerLink]="['products']" class="nav-link ">
                                            <!-- <i class="icon-magnifier"></i> --
                                            <span class="title">Add Product</span>
                                            <!-- <span class="badge badge-danger">5</span> --
                                        </a>
                                    </li>
                                   
                           </ul> 
                           
                        </li> -->
                       
                        
                        <!-- <li class="nav-item viewreport">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-bar-chart"></i>
                                    <span class="title">Reports</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a> -->
                                 <!-- <ul class="sub-menu">
                              <li class="nav-item topasitrendreport">
                                        <a [routerLink]="['reports/customersurveyreport']" class="nav-link ">
                                            <!-- <i class="icon-equalizer"></i> --
                                            <span class="title">Customer Survey Report</span>
                                            <!-- <span class="badge badge-danger">5</span> --
                                        </a>
                                    </li> 
                               <li class="nav-item vehicletopissues">
                                        <a [routerLink]="['reports/vehicletopissues']" class="nav-link ">
                                            <!-- <i class="icon-magnifier"></i> --
                                            <span class="title">Vehicle Top 20 Issues</span>
                                            <!-- <span class="badge badge-danger">5</span> --
                                        </a>
                                    </li>
                                   
                           </ul> -->
                    <!-- </li> -->
                        <li class="nav-item users">
                            <a [routerLink]="['users']" class="nav-link">
                                <i class="icon-users"></i>
                                <span class="title">Vendors</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                        </li>
                        <!-- <li class="nav-item Billing">
                            <a [routerLink]="['offers']" class="nav-link">
                                <i class="icon-equalizer"></i>
                                <span class="title">Offers</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item Billing">
                            <a [routerLink]="['bill']" class="nav-link">
                                <i class="icon-equalizer"></i>
                                <span class="title">Bill</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                        </li> -->

                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            <!-- </div> -->
            <!-- END SIDEBAR -->