thead{
    background-color: #7e7f82;
    color: #ffffff;
}

.bill-header{
    text-align: center;
}
.bill-header h4{
    padding: 2px;
    color: #F44336;
}

.bill-header h5{
    padding: 2px;
    
}

.product h5{
    padding: 10px;
}

.modal-body{
        overflow: scroll;
   height: 500px;
}
th {
    font-size: 15px;
    padding: 10px;
    text-align: center;
        border: 1px solid black;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
}

tr {
    border: 1px solid #C1C3D1;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

td {
    border-right: 1px solid #C1C3D1;
    font-size: 15px;
    padding: 10px;
}
/* User List section*/

.save-list {
    border: 1px solid #C1C3D1;
    border-radius: 6px;
    font-family: "Open Sans", sans-serif;
    float: right;
    margin: 5px;
  margin-right: 80px;
    padding: 5px 15px;
    text-align: left;
    width: 25%;
}

table {
    border-collapse: collapse;
    
    width: 100%;
}

.list-added {
    border: 1px solid #C1C3D1;
    border-radius: 6px;
    font-size: 14px;
    margin: 4px;
    padding: 8px;
    text-align: left;
    width: 80%;
}

.table-scroll{
    height: 630px;
    overflow-y: auto;
    width: 100%}