/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


@media (min-width: 1800px){
    .page-content-wrapper .page-content {
        margin-left: 195px;
        margin-top: 0;
        min-height: 1020px;
        padding: 25px 20px 10px;
    }
}

body {
    background-color:#e7505a !important;
   
}
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #e7505a;
}
.page-sidebar .page-sidebar-menu>li>a {
    min-height: 78px;
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 17px 47px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border-bottom: solid 1px;
}
