<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- chart -->
<script src="/assets/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->


<!--End Calender-->
<!-- Metis Menu -->
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/custom.js"></script>
<link href="/assets/css/custom.css" rel="stylesheet">

<div class="page-content-wrapper page-container-bg-solid">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="height:1024px;">
          <div class="portlet-body">
            <!-- END THEME PANEL -->
            <!-- <h1 class="page-title"> Inventory
                <small>Overview</small>
            </h1> -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                         <span>Home</span>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <!-- <li>
                    <!-- <i class="icon-bar-chart"></i> --
                     <a href="/master-color">Master</a>
                     <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <!-- <i class="icon-bar-chart"></i> --
                       <a href="/master-color">Colours Master </a>
                      </li> -->
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
              <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light portlet-fit ">
                  <div class="portlet-title">
                      <div class="caption">
                          <i class="icon-settings font-red"></i>
                          <span class="caption-subject font-red sbold uppercase">Offers</span>
                      </div>
      
                  </div>
                  <div class="portlet-body">
                          <div class="table-toolbar">
                                  <div class="row">
                                      <div class="col-md-6">
                                        <div class="btn-group">
                                          <button type="button" id="sample_editable_1_new" (click)="ShowOffersTable()" class="btn green"> Create Offer
                                              <i class="fa fa-plus"></i>
                                          </button>
                                      </div>
                                  </div>
                                      </div>
                                      <!-- <div class="col-md-3">
                                        <div class="btn-group">
                                            <button id="" (click)="Back()" class="btn green">Back
                                                <i class="fa fa-arrow-left"></i>
                                            </button>
                                        </div>
                                    </div> -->
                                      <div class="col-md-6">
                                          <!-- <div class="btn-group pull-right">
                                              <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                  <i class="fa fa-angle-down"></i>
                                              </button>
                                              <ul class="dropdown-menu pull-right">
                                                  <li>
                                                      <a href="javascript:;"> Print </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Save as PDF </a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;"> Export to Excel </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div> -->
                                  </div>
                              </div>
                                    
                                
                             
                      <div [ngSwitch]="viewOffers">
                          <!-- <div *ngSwitchCase="'addStore'"> -->
                                <div *ngSwitchCase="'addOffers'">
                                        <form (submit)="addBrand($event)">
                                              <table class="table table-hover table-bordered" id="">
                                                      <thead>
                                                          <tr>
                                                              <!-- <th>Vendor Id</th> -->
                                                              <th>Name</th>
                                                              <th>Description</th>
                                                              <th>Category</th>
                                                              <th>Add </th>
                                                          </tr>
                                                      </thead> 
                                                      <tbody>  
                                                          <tr>
                                                              <!-- <td> <input type="text" ([ngModule])="newUserId" required class="form-control"/> </td> -->
                                                              <td> <input type="text" ([ngModule])="Name" required class="form-control"/> </td>
                                                              <td> <input type="text" ([ngModule])="Description" required class="form-control"/> </td>
                                                              <!-- <td> <input type="file" ([ngModule])="newUserimage" required class="form-control"/> </td> -->
                                                              <td> 
                                                              <select class="form-control" required ([ngModule])="newUserCategory">
                                                                  <option value="0">Select</option>
                                                              <option   *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                              </select> 
                                                            </td>
                                                             <td><input type="submit" class="btn green" value="Add" /></td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </form>
                                      </div>
                          <div *ngSwitchCase="'editOffers'">
                                  <form id="updateform" name = "formNew" #inventoryData = "ngForm" (ngSubmit) = "updateInventory(beforeUpdateInventoryObj)">
                                        </form>
                                        <table class="table table-striped table-hover table-bordered order-column" id="">
                                              <thead>
                                                      <tr>
                                                          <th> ID </th>
                                                          <th> Serial No </th>
                                                          <!-- <th> User </th> -->
                                                          <!-- <th> Product</th>
                                                          <th> Quantity</th> -->
                                                          <th> Price</th>
                                                          <th> Is Active </th>
                                                          <th> Edit </th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                              <tr>
                                                  <td>
                                                          <label>{{beforeUpdateInventoryObj.id}}</label><input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "beforeUpdateInventoryObj.id" ngModel><br>    
                                                  </td>
                                                  <td>
                                                          <input type = "text" name="serial_no" id="serial_no" class="form-control" placeholder="serial_no" [(ngModel)] = "beforeUpdateInventoryObj.serial_no" ngModel><br>
                                                  </td>
                                                  <!-- <td>
                                                      <input type = "text" name="user" id="user" class="form-control" placeholder="user" [(ngModel)] = "beforeUpdateInventoryObj.user" ngModel><br>
                                              </td> -->
                                              <!-- <td>
                                                  <input type = "text" name="product" id="product" class="form-control" placeholder="product" [(ngModel)] = "beforeUpdateInventoryObj.product" ngModel><br>
                                                <!-- <select class="form-control" required [(ngModel)] = "beforeUpdateInventoryObj.product" ngModel>
                                                    <option value="0">Select</option>
                                                <option   *ngFor="let categoryData of categoryData" [value]="categoryData.id" >{{categoryData.name}}</option>
                                                </select>  --
                                        </td> -->
                                        <!-- <td>
                                                <input type = "text" name="quantity" id="quantity" class="form-control" placeholder="Quantity" [(ngModel)] = "beforeUpdateInventoryObj.quantity" ngModel><br>
                                        </td>  -->
                                        <td>
                                                <input type = "text" name="price" id="price" class="form-control" placeholder="price" [(ngModel)] = "beforeUpdateInventoryObj.price" ngModel><br>
                                        </td>

                                                  <td>
                                                          <div class="md-checkbox">
                                                                  <input type="checkbox" [(ngModel)]="beforeUpdateInventoryObj.is_active" [checked]="beforeUpdateInventoryObj.is_active" id="beforeUpdateInventoryObj{{beforeUpdateInventoryObj.id}}" class="md-check" [(ngModel)]="beforeUpdateInventoryObj.is_active" value="{{beforeUpdateInventoryObj.is_active}}" (change)="onIsActiveChange(beforeUpdateInventoryObj.id, beforeUpdateInventoryObj.is_active)"/>
                                                                  <label for="beforeUpdateInventoryObj{{beforeUpdateInventoryObj.id}}">
                                                                      <span class="inc"></span>
                                                                      <span class="check"></span>
                                                                      <span class="box"></span>
                                                                      <span *ngIf="beforeUpdateInventoryObj.is_active == true;then Active else InActive"></span>
                                                                      <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                                  </label>
                                                              </div>
                                                  </td>
                                                  <td>  <input type="submit" value = "Update" (click) = "updateInventory(beforeUpdateInventoryObj)" class="btn green" form="updateform"></td>
                                              </tr>
                                              </tbody>
                                          </table>
                          </div>
                          <div *ngSwitchDefault></div>
                          <div class="col-md-12">
                                  <!-- <input type="button" (click)="refreshMasterColoursTbl()" class="btn green" value="Refresh Table" /> -->
                               
                              </div>
                          <div class="portlet-body table-scroll">
                                  <table class="table table-striped table-hover table-bordered order-column" id="">
                                      <thead>
                                          <tr>
                                              <th> ID </th>
                                              <th> Offer Description </th>
                                              <!-- <th> Serial No.</th> -->
                                              <th> Category</th>
                                              <th> Brand</th>
                                              <th> Product</th>
                                              <!-- <th> Quantity </th> -->
                                              <!-- <th> Price</th> -->
                                              <th> Is Active </th>
                                              <th> Edit/Delete </th>
                                              <!-- <th> View Products</th> -->
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <!-- *ngFor="let InventoryData of InventoryData | paginate: { itemsPerPage: 10, currentPage: p, totalItems: inventoryDataCount }  let i = index" [attr.data-index]="i" -->
                                              <td> {{InventoryData.id}}</td>
                                              <td> {{InventoryData.code}} </td>
                                              <!-- <td> {{InventoryData.serial_no}} </td> -->
                                              <td>{{InventoryData.category_name}}</td>
                                              <td>{{InventoryData.brand_name}}</td>
                                              <td> {{InventoryData.product_name}} </td>
                                              <!-- <td> {{InventoryData.quantity}}</td> -->
                                              <!-- <td> {{InventoryData.price}} </td> -->
                                              <td>
                                                   <div class="md-checkbox">
                                                      <input type="checkbox" [(ngModel)]="InventoryData.is_active" id="inventoryMasterIsActiveId{{InventoryData.id}}" class="md-check" (change)="onIsActiveChange(InventoryData.id, InventoryData.is_active)"/>
                                                      <label for="inventoryMasterIsActiveId{{InventoryData.id}}">
                                                          <span class="inc"></span>
                                                          <span class="check"></span>
                                                          <span class="box"></span>
                                                          <span *ngIf="InventoryData.is_active == true;then Active else InActive"></span>
                                                          <ng-template #Active>Active</ng-template><ng-template #InActive>In Active</ng-template>
                                                                </label>
                                                  </div>
                                              </td>
                                              <td>
                                                  <input type="button" (click)="editInventory(InventoryData)" class="btn green" value="Edit" />
                                                  <input type="button" (click)="deleteInventory(InventoryData)" class="btn green" value="Delete" />
                                              </td>
                                              <!-- <td>
                                                <input type="button" (click)="redirect()" class="btn green" value="View Products" />
                                            </td> -->
                                              <!-- <td>
                                                  <input type="button" (click)="deleteColour(mastercolours.master_colour_id)" value="Delete" />
                                              </td> -->
                                          </tr>
                                      
                                      </tbody>
                                  </table>
                                  <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
                              </div>
                          </div>
          </div>
      </div>
            
                  <!-- END EXAMPLE TABLE PORTLET-->
              </div>
          </div>
            <!-- END PAGE CONTENT-->
            </div>
      </div>
      </div>
      